---
layout: page
title: Glossar
background: "/img/glossar.jpg"
background_pos: '50% 80%'
---

{% assign items = site.glossary | sort: 'title' %}
{% if items.size > 10 %}
<div id="index">
<h3>Index</h3>
  <ul>
{% for item in items %}
    <li><a href="#{{ item.title | downcase | url_encode }}">{{ item.title }}</a></li>
{% endfor %}
  </ul>
</div>
{% endif %}
{% for item in items %}
<div class="glossary-item">
  <details id="{{ item.title | downcase | url_encode }}">
    <summary >
      <h3>{{ item.title }}</h3>

      {%  if item.icon %}
      <h4 id="type-{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.icon }}.html %}</h4>
      {%  elsif item.type %}
      <h4 id="type-{{ item.title | downcase | url_encode }}">{{ item.type }} {% include icons/{{ item.type | downcase }}.html %}</h4>
      {%  endif %}
    </summary>
    {{ item.content }}
  </details>
</div>
{% endfor %}

<script type="text/javascript" language="javascript">
  const mobileBrowsers = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini|Mobile|mobile|CriOS/i;

  function openGlossaryItem() {
    let currentItem = document.getElementById(location.hash.substr(1));
    if (currentItem) {
      currentItem.setAttribute('open', 'open');
    }
  }
  if (mobileBrowsers.test(navigator.userAgent) !== true) {
    for (let glossaryItem of document.getElementsByTagName('details')) {
      glossaryItem.setAttribute('open', 'open');
    }
  } else {
    let indexBlock = document.getElementById('index');
    if(indexBlock){
      // The index is only visible if there are more than a few glossary entries
      indexBlock.style.display = 'none';
    }
  }
  if (location.hash != "") {
    openGlossaryItem();
    location.href = location.hash;
  }
  window.onhashchange = openGlossaryItem;
  for (let internalLink of document.querySelectorAll('.glossary-item a')) {
    internalLink.onclick = openGlossaryItem;
  }
</script>
