body {
  /* Fix bold text in Mac */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.post ul a{
  text-decoration: underline;
}

.glossary-item {
  h3, h4 {
    display: inline;
  }
  h4 {
    color: grey;
  }
}

#index {
  > ul {
    column-count: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
    column-gap: 5em;
    -webkit-column-rule-width: 4px;
    -moz-column-rule-width: 4px;
    column-rule-width: 4px;
    -webkit-column-rule-color: #e4aaa3;
    -moz-column-rule-color: #e4aaa3;
    column-rule-color: #e4aaa3;
    -webkit-column-rule-style: dotted;
    -moz-column-rule-style: dotted;
    column-rule-style: dotted;
    > li {
      display: block;
    }
    > li::first-letter {
      font-weight: bold;
    }
  }
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.center-glossary-image
{
  width:35%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: block;
}

header.masthead {
  margin-top: 56px;
}
@media only screen and (min-width: 992px) {
  header.masthead {
    margin-top:0px;
  }
}

.page-heading-cinzel {
  color: white;
  text-align: center;
  h1 {
    font-family: 'Cinzel';
    color: rgb(241, 235, 214);
    font-weight: 900;
    font-size: 3em;
    text-align: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  @media only screen and (min-width: 992px) {
    margin-top: 70px;
    h1 {
      font-size: 130px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    margin-top: 20px;
      h1 {
          font-size: 100px;
      }
  }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    margin-top: 20px;
      h1 {
          font-size: 60px;
      }
  }
  @media only screen and (max-width: 360px) {
    margin-top: 20px;
      h1 {
          font-size: 60px;
      }
  }
  span {
    font-size: 22px;
  }
}

.post-title {
  font-family: 'Diogenes V2';
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  header.masthead {
    margin-bottom: 20px;
  }
  .post-preview > a > .post-subtitle {
    font-size: 1.3rem;
  }
}

header.masthead .post-heading h1 {
  font-family: 'Diogenes V2';
}
@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 75px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post ul {
  padding-left: 20px;
}

.infobox {
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  padding: 1em;
  margin: 1em;

  & + & {
    border-top: 0;
  }
}
.hint {
    h3:before {
        content: 'Hinweis: ';
    }
}
.quest {
    h3:before {
        content: 'Quest: ';
    }
    .reward:before {
        content: 'Belohnung: ';
        font-weight: bold;
    }
}

ul.post-list {
    padding: 0;
}
.character {
    padding-top: 2rem;
    &:first-child {
        padding-top: 0;
    }
    header {
        h2 {
            display: inline
        }
        img {
            height: 96px;
            width: 96px;
            vertical-align: top;
        }
        .player, .race {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        .race {
            font-size: 2rem;
        }
        .player a {
            color: $primary;
        }
    }
    .char-details {
        padding-left: 1em;
        display: inline-block;
    }
    .description {
        padding-top: 1em;
    }
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 16px;
}

.post blockquote {
  color: #800909;
}

.rhyme {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.rhyme blockquote {
  white-space: pre-line;
  position: relative;
  font-family: 'Diogenes V2'; /** to have constant character width **/
  color: black;
  font-style: normal;
  letter-spacing: 2px;
}

/* First letter highlighting, credits to: https://stackoverflow.com/a/44913877 */
.rhyme blockquote::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: red;
  background: linear-gradient(90deg, red 0%, red 85%, #ff00006b 100%);
  mix-blend-mode: screen;
  pointer-events: none; /** to enable selected of the text under the pseudo element **/
  color: transparent; /** to hide the character **/
  content: 'F'; /** a character in your font to use as width **/
}

/* Small hack to crop away those dots */
dall-emage {
  width: 730px;
  max-width: 100%;
  height: 715px;
  background-size: cover;
  height: width;
  display: block;
  background-image: var(--image-url);
}

.preline {
  white-space: pre-line;
}
