.glossary-item {
  h3, h4 {
    display: inline;
  }
  h4 {
    color: grey;
  }
}

#index {
  > ul {
    column-count: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
    column-gap: 5em;
    -webkit-column-rule-width: 4px;
    -moz-column-rule-width: 4px;
    column-rule-width: 4px;
    -webkit-column-rule-color: #e4aaa3;
    -moz-column-rule-color: #e4aaa3;
    column-rule-color: #e4aaa3;
    -webkit-column-rule-style: dotted;
    -moz-column-rule-style: dotted;
    column-rule-style: dotted;
    > li {
      display: block;
    }
    > li::first-letter {
      font-weight: bold;
    }
  }
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.center-glossary-image
{
  width:35%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: block;
}

header.masthead {
  margin-top: 56px;
}
@media only screen and (min-width: 992px) {
  header.masthead {
    margin-top:0px;
  }
}

.page-heading-barbarian {
  color: white;
  text-align: center;
  h1 {
    font-family: 'Barbarian';
    color: rgb(241, 235, 214);
    font-weight: 100;
    font-size: 2em;
    text-align: center;
  }
  @media only screen and (min-width: 992px) {
      h1 {
        font-size: 130px;
      }
  }
  @media only screen and (min-width: 360px) and (max-width: 991px) {
      h1 {
          font-size: 80px;
      }
  }
  @media only screen and (min-width: 768px) {
    padding: 125px 0;
  }
  span {
    font-size: 22px;
  }
}

.page-heading-silent_lips {
  color: white;
  text-align: center;
  h1 {
    font-family: 'Silent_Lips';
    color: rgb(241, 235, 214);
    font-weight: 900;
    font-size: 3em;
    text-align: center;
  }
  @media only screen and (min-width: 992px) {
    margin-top: 70px;
    h1 {
      font-size: 130px;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 991px) {
    margin-top: 20px;
      h1 {
          font-size: 100px;
      }
  }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    margin-top: 20px;
      h1 {
          font-size: 60px;
      }
  }
  @media only screen and (max-width: 360px) {
    margin-top: 20px;
      h1 {
          font-size: 60px;
      }
  }
  span {
    font-size: 22px;
  }
}

.page-subheading-silent_lips {
  color: white;
  text-align: center;
  h2 {
    font-family: 'Silent_Lips';
    color: rgb(241, 235, 214);
    font-weight: 100;
    font-size: 1em;
    text-align: center;
  }
  @media only screen and (min-width: 992px) {
      h2 {
        font-size: 70px;
      }
  }
  @media only screen and (min-width: 360px) and (max-width: 991px) {
      h2 {
          font-size: 40px;
      }
  }
  @media only screen and (min-width: 768px) {
    padding: 10px 0;
  }
}

.infobox {
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
    padding: 1em;
    margin: 1em;
}
.hint {
    h3:before {
        content: 'Hinweis: ';
    }
}
.quest {
    h3:before {
        content: 'Quest: ';
    }
    .reward:before {
        content: 'Belohnung: ';
        font-weight: bold;
    }
}

ul.post-list {
    padding: 0;
}
.character {
    padding-top: 2rem;
    &:first-child {
        padding-top: 0;
    }
    header {
        h2 {
            display: inline
        }
        img {
            height: 96px;
            width: 96px;
            vertical-align: top;
        }
        .player, .race {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        .race {
            font-size: 2rem;
        }
        .player a {
            color: $primary;
        }
    }
    .char-details {
        padding-left: 1em;
        display: inline-block;
    }
    .description {
        padding-top: 1em;
    }
}

.burning {
  h1 {
    text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
  }
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 14px;
}