// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

/* Barbarian */
@font-face {
  font-family: 'Barbarian';
  font-style: normal;
  font-weight: 300;
  src: url('/webfonts/Barbarian.ttf'); /* IE9 Compat Modes */
  src: local('Barbarian'),
       url('/webfonts/Barbarian.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/webfonts/Barbarian.woff') format('woff'), /* Modern Browsers */
}

/* Silent Lips */
@font-face {
  font-family: 'Silent_Lips';
  font-style: normal;
  font-weight: 300;
  src: url('/webfonts/Silent_Lips.woff') format('woff');
}

@font-face {
  font-family: 'Silent_Lips';
  font-style: bold;
  font-weight: 300;
  src: url('/webfonts/Silent_Lips-Bold.woff') format('woff');
}
